<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />

    <application
        android:name=".SheGuard"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SheGuard"
        tools:targetApi="31">

        <receiver
            android:name=".util.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:name=".ui.activity.MentalHarassmentQuizActivity"/>
        <activity android:name=".ui.activity.AdminDashboardActivity"/>





        <activity
            android:name=".ui.activity.FakeCallSetupActivity"
            android:exported="false"
            android:label="Fake Call"
            android:parentActivityName=".ui.activity.MainActivity"/>
            
        <activity
            android:name=".ui.activity.VideoPlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
            
        <activity
            android:name=".ui.activity.FakeCallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".util.FakeCallReceiver"
            android:exported="false" />

        <activity
            android:name=".ui.activity.LoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SosService"
            android:enabled="true"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".service.EvidenceService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone|camera" />
        <service
            android:name=".service.FireBaseMessageService"
            android:directBootAware="true"
            android:exported="true"
            android:foregroundServiceType="remoteMessaging"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.WatchMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/sheguard/sos" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_push" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>